section {
    max-width: 1440px;
    margin: 0 auto;
}

main,
footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

main div {
    width: 30%;
    margin: 0 100px;
}

main img {
    margin: 0 100px;
    display: block;
    width: 50%;
}

main div p{
    font-family: 'Nunito', sans-serif;
    font-size: 33px;
    font-weight: 200;
    line-height: 1.3;
    text-transform: uppercase;
    color: #808080;
}

main div p span{
    color: #A5D3AE;
}

main div button {
    padding: 20px 30px;
    margin: 50px 0 0;
    border: 1px solid #A5D3AE;
    background: none;
    color: #A5D3AE;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .6s ease;
}

main div button::before{
    content: '';
    width: 50%;
    height: 100%;
    background: #97bf9f;
    position: absolute;
    top: 0;
    left: -50%;
    transition: all .6s ease;
}

main div button:hover{
    background: #A5D3AE;
    color: #fff;
}

main div button:hover::before{
    left: 100%;
}

footer{
    padding: 100px 0;
}

footer img{
    padding: 0 20px; 
    border-right: 1px solid #A5D3AE;
}

footer p{
    padding: 0 20px; 
    color: #A5D3AE;
    font-family: 'Nunito', sans-serif;
}

@media screen and (max-width: 1230px){
    main div {
        width: 50%;
    }

    main div p{
        font-size: 1.2rem;
    }

    main img {
        margin: 0;
    }
}

@media screen and (max-width: 768px){
    main img {
        width: 100%;
    }
}

@media screen and (max-width: 992px){
    main{
        flex-direction: column;
    }

    main div {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    main img {
        width: 50%;
    }
    
    main div p{
        font-size: 1.5rem;
        text-align: center;
    }

    footer{
        padding: 100px 0 20px;
    }
}